<!DOCTYPE html>
<html>

<head>
    <!-- 여기는 웹페이지에 대한 정보 -->
    <title>이미지 분류</title>
    <meta charset="UTF-8">
    <meta name="description" content="이미지를 분류하는 어플리케이션">
    <meta name="keywords" content="Keras, Huggingface">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <!-- 여기는 화면에 보이는 내용 -->
    <!-- 헤딩 테그 사용-->
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <!-- 문단 테그 사용 -->
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>
    <p>This is a paragraph.</p>

    <!-- 문단 안에 줄 바꿈 사용 -->
    <p>
        To break lines<br>in a text,<br>use the br element.
    </p>

    <!-- 리스트 사용 -->
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>

    <!-- 숫자 리스트 사용 -->
    <ol>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
    </ol>

    <!-- 테이블 사용 -->

    <table style="width: 50%">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>94</td>
        </tr>
    </table>
    <br>

    <!-- 이미지 추가 -->
    <img src="clova.jpg" alt="clova in garden" width="200" height="300">
    <br>

    <!-- 폼 추가 -->
    <form action="result.html" method="post">
        First name:<br>
        <input type="text" name="firstname" value="Mickey"><br>
        Last name:<br>
        <input type="text" name="lastname" value="Mouse"><br>
        <input type="submit" value="Submit">
    </form>










</body>

</html>